.listItem {
  transition: transform 0.5s, box-shadow 1s;
  cursor: pointer;
}

.listItem:hover {
  color: rgba(0, 140, 255, 0.966);
  transform: scale(1.02) perspective(0px);
  box-shadow: 2px 3px 3px rgba(204, 204, 204, 0.973);
}

.avatar {
  background-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: whitesmoke;
  padding: 12px;
}
